.word {
    cursor: pointer;
    transition: fill .3s ease;
}

.container{
    font-family: "Arial";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}
.word {
    cursor: pointer;
    transition: fill .3s ease;
}
.word:hover {
    fill: #795548;
}
.svg{
    outline-style: auto;
}